@charset "UTF-8";

*{

    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body, html{

    height: 100%;

}

body{

    display: flex;
    flex-direction: column;

    background-image: linear-gradient(to top, #3d6fda, #89b9e6);
    
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}

#initPage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
     
}

#container{

    background-color: #2a2f4e4b;
    border: solid black 1px;
    border-radius: 10px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);
    width: 50vw;
    min-width: 440px;

    
}

h1{
    color: white;
    font-size: 2.5rem;
    margin-bottom: 0px;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.438);
    padding: 0.2em;
    border-radius: 10px 10px 0px 0px;
}

#little{
    color: white;
    font-size: 0.02em;
}

h2{
    color: white;
    font-size: 1.2em;
    margin-bottom: 80px;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.438);
    padding-bottom: 0.5em;
    border-radius: 0 0 10px 10px;
}

p{

    text-align: center;

}

#players{
    color: white;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;

}

#playerCount{
    padding: 10px;
    font-size: 1em;
    border-radius: 40%;
    border: solid 2px #2a4c96c2;
    background-color: #ddeefd;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.205);
    outline: none;
    margin-top: 15px;
}

#playerCount:hover{

    background-color: #ffffff;
    transform: scale(1.1);

}

#initCash{
    color: white;
    font-size: 1.5em;
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
}

#recValue{

    font-size: 0.5em;

}

#initCashF{
    padding: 2px;
    font-size: 0.8em;
   
    border-radius: 7px;
    border: solid 2px #2a4c96c2;
    background-color: #ddeefd;
    text-align: center;

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.233);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.096);

    outline: none;
}

#initCashF:hover{

    background-color: #ffffff;
    transform: scale(1.02);

}

#initCashF::-webkit-outer-spin-button,
#initCashF::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
}

#eztz{

    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #ddeefd;
    border: solid 2px #2a4c96c2;
    border-radius: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.137);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.253);
    margin-bottom: 10px;

}

#eztz:hover{

    background-color: #ffffff;
    transform: scale(1.1);
    

}

footer{

    text-shadow: 1px 1px 1px black;

}

img{
    
    padding-top: 8px;
    padding-left: 30px;
    width: 40px;

}

#uniseporra{

    width: 80px;

}

#rodapo{

    color: rgba(255, 255, 255, 0.623);
    font-size: 6pt;

}




#gamePage{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    
}



#gameContainer{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 80vw;
    min-width: 400px;
    max-width: 1000px;
    padding: 20px;
    background-color: #12142275;
    border: solid black 1px;
    border-radius: 10px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.432);

}

#gameContainer > div{

    background-color: #717bbb9a;
    border: solid black 1px;
    border-radius: 10px;

    margin: 20px;
    padding: 10px;
    
}

div.pMenu{

    color: white;
    font-size: 14pt;
    
}

p.playerName{

    font-size: 18pt;

}

.material-symbols-outlined {

    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    padding: 2px;
    border: solid rgba(0, 0, 0, 0.322) 1px;
    

    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 20

}

.material-symbols-outlined:hover{

    transform: scale(1.06);
    cursor: pointer;

}

.pMenu > button{

    padding: 5px;
    font-size: 12pt;
    background-color: #ddeefd;
    margin: 5px;

    border-radius: 10px;

}

.pMenu > button:hover{

    background-color: #ffffff;
    transform: scale(1.04);

}

.pMenu > input{

    background-color: #ddeefd;
    margin: 5px;
    padding: 5px;
    outline: none;
    width: 100px;
}

.pMenu > input:hover{

    background-color: #ffffff;
    transform: scale(1.04);

}

#p1{

    display: block;


}

#p2{

    display: block;
}

#p3{

    display: block;

}

#p4{

    display: block;

}

#p5{

    display: block;

}

#p6{

    display: block;

}

button.calcButton{

    padding: 4px 10px;

}

.ocult{

    display: none;

}

