

*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

html, body{

    height: 100%;

}

body{

    background-color: lightgray;

}

#mainMenu{

    display: flex;
    justify-content: center;
    align-items: center;
    
}

#conteudo{

}

h1{

    margin-bottom: 50px;
    text-decoration: underline;
    font-size: 65pt;
    color: #ad8725;

}

h2{

    text-align: center;
    font-size: 35pt;
    margin-bottom: 150px;

}

p{

    text-align: center;
    margin: 30px;

}

#players{

    font-size: 15pt;

}

#playerCount{

    
    text-align: center;
    font-size: 25pt;
    width: 60px;
    padding: 6px 5px;
    margin-bottom: 100px;

}

#playerCount::-webkit-inner-spin-button, 
#playerCount::-webkit-outer-spin-button {

    opacity: 1;

}

#eztz{

    font-size: 20pt;
    padding: 30px 120px;
    border-radius: 50px;
    border: solid 4px rgba(0, 0, 0, 0.507);
    background-color: #a5a9b4;
    

}
#eztz:hover{

    background-color: #8b8e97;
    
    cursor: pointer;

}




footer{

    display: flex;
    justify-content: center;
    align-items: 100%;


}

#imagens{

    position: absolute;
    bottom: 0;
    left: 10px;

}

img{

    position: relative;
    
    width: 100px;


}

#uniseporra{

    width: 150px;
    margin: 20px;

}

#rodapo{

    font-size: 15pt;
    color: saddlebrown;

}

